<<<<<<< HEAD
<html>
<head>
    <title>contract details</title>
</head>
<body>
	<div>
    	<p ng-model="content">
    		<span><h3>GENERAL FREELANCE AGREEMENT</h3></span><br><br>
	        This Contract is made in {{place}} , dated {{date}}, by and between {{client}} {{clientCompany}} , {{clientOwnership}} (the "Client") and {{freelancer}} {{freelanceCompany}}, {{freelanceOwnership}} (the "Freelancer"). 
			The Freelancer and the Client shall hereinafter be collectively referred as “Parties”, and individually as “Party”. <br><br>
			1. <b>SCOPE OF WORK AND PAYMENT</b><br>

			1.1 Project. The Client is hiring the Freelancer to do the following: {{description}}.<br>

			1.2 Payment. The Client will pay the Freelancer {{feeType}} charge of select currency. Of this, the Client will pay the Freelancer {{currency}} {{fee}} before the beginning of the project (“Advance Payment”) The Client will pay the remaining amount of {{currency}} {{fee - advancePayment}} post approving the final work product. <br>

			1.3 Expenses. <select ng-model="expense" ng-init="expense = expenses[0]" ng-options="option.option for option in expenses"></select>.<br>

			1.4 Invoices. The Freelancer will submit the invoice to the Client, post which the Client will disburse the payment to be received by the Freelancer within {{duration}} days.<br><br>
			
			2. <b>OWNERSHIP AND LICENSES.</b><br>
			2.1 Client Owns All Work Product. The finished product, as well as drafts, notes, materials, scripts and anything else that the Freelancer works on (“work product”), is <span><select ng-model="ownership" ng-init="ownership = owner[0]" ng-options="type.option for type in owner"></select></span> once he pays for it in full. This includes all rights, titles, and interests in and to the work product (including intellectual property rights), is of the Client once the Client pays for it in full. <br>
			2.2 Freelancer’s Use Of Work Product. The Client gives the Freelancer permission to use the work product as part of the Freelancer’s portfolio and websites, in galleries, and in other media, so long as it is not to sell or otherwise use the work product to make money or for any other commercial use. <br><br>

			3. <b>REPRESENTATIONS.</b><br>
			3.1 Authority To Sign. Each party promises to the other party that it has the authority to enter into this Contract and to perform all of its obligations under this Contract.<br>
			3.2 Client Will Review Work. The Client promises to be reasonably available to the Freelancer if the Freelancer has questions regarding this project, and to provide timely feedback and decisions. <br><br>

			4. <b>TERM.</b> This Contract begins on {{startDate}} and ends with the receiving of the final payment by the Freelancer from the Client.<br><br>
			5. <b>TERMINATION</b> <span><select ng-model="termination" ng-init="termination = terminator[0]" ng-options="option.option for option in terminator"></select></span> may end this Contract for any reason by sending an email or letter to the other party, informing the recipient that the sender is ending the Contract and that the Contract will end in <input type="Number" ng-init="terminationDays=7" ng-model="terminationDays">. <br><br>
			6. <b>INDEPENDENT CONTRACTOR.</b> The Client is hiring the Freelancer as an independent contractor. The Client and the Freelancer do not have a partnership or employer-employee relationship. <br><br>
			7. <b>CONFIDENTIAL INFORMATION.</b> While working for the Client, the Freelancer may come across, or be given, Client information that is confidential. The Freelancer promises that it will not share confidential information with a third party, unless the Client gives the Freelancer written permission first. This subsists even after the Contract ends.<br> <br>
			8. <b>INDEMNITY.</b> <br>
			8.1 Client Indemnity. In this Contract, the Freelancer <span><select ng-model="agreement" ng-init="agreement = choice[0]" ng-options="choice.option for choice in choice"></select></span> the Client (and its affiliates) from and against all liabilities, losses, damages, and expenses related to a third-party claim or proceeding arising out of the work the Freelancer has done under this Contract. <br>
			8.2 Freelancer Indemnity. In this Contract, the Client <span><select ng-model="agreement2" ng-init="agreement2 = choice[0]" ng-options="choice.option for choice in choice"></select></span> the Freelancer (and its affiliates) from and against liabilities, losses, damages, and expenses related to a third-party claim or proceeding arising out of a breach by the Client of its obligations under this Contract.<br><br> 
			9. <b>GENERAL.</b> <br>
			9.1 Assignment. This Contract applies only to the Client and the Freelancer. <br>
			9.2 Arbitration. As the first step to resolve any dispute arising under this Contract, a party may demand that the dispute be resolved by arbitration administered by the Arbitration and Conciliation Act, 1996.<br> 
			9.3 Modification, Waiver. To change, waive anything in this Contract, the Client and the Freelancer must agree to that change in writing and sign a document showing their contract. <br>
			9.4 Notices. A valid notice over the course of this contract must be in writing and delivered by email, delivered to the party’s address listed at the end of this Contract or to another address provided in writing to receive notice. <br>
			9.5 Governing Law. The laws of India govern the rights and obligations of the Client and the Freelancer under this Contract.<br> 
			9.6 Entire Contract. This Contract represents the parties’ final and complete understanding of this job and the subject matter discussed in this Contract. This Contract supersedes all other contracts (both written and oral) between the parties. <br><br>
			THE PARTIES HERETO AGREE TO THE FOREGOING AS EVIDENCED BY THEIR SIGNATURES BELOW. 

    	</p>
    	<div class="clientSignature">
	    	<h3> <input type="text" ng-model="clientSignature" placeholder="Client's Signature" ng-disabled = "userType != 'Hiring a creative'"><br>
	    	 	{{clientSignature}} 
	    	 </h3>
	    	 {{clientCompany}}
	    	 <span ng-show="clientEmail == 'Null'">
	    	 	<input type="text" ng-model="clientEmail" ng-init="clientEmail = undefined" placeholder="Client's email id">
	    	 </span>
			<span ng-show="clientEmail != 'Null'">
	    		{{clientEmail}}
			</span>
    		
    	</div>
    	<div class="freelanceSignature">
	    	<h3> <input type="text" ng-model="freelanceSignature" placeholder="Freelancer's Signature" ng-disabled = "userType != 'Creative'"><br>
	    	 	{{freelanceSignature}} 
	    	 </h3>
	    	 {{freelanceCompany}}
	    	 <span ng-show="freelanceEmail == 'Null'">
	    	 	<input type="text" ng-model="freelanceEmail"  ng-init="freelanceEmail = undefined" placeholder="Freelancer's email id" >
	    	 </span>
			<span ng-show="freelanceEmail != 'Null'">
	    		{{freelanceEmail}}
			</span>
    		
    	</div>
    </div>
    <button type="submit" ng-click="save()">Save &amp; View</button>
</body>
</html>
=======
<header class="header">
	<img src="../img/logo.png" alt="" class="logo middle-y" ng-click="dashboard()">
	<span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
	<span ng-click="dashboard()" class="middle-y"><p class="btn">Contract</p></span>
	<span ng-click="dropdownMenu()" class="middle-y fa fa-bars"></span>

	<div class="dropdownMenu">
		<ul>
			<li ng-click="profile()"><p>Profile</p></li>
			<li ng-click="logout()"><p>Logout</p></li>
		</ul>
	</div>

</header>
<div class="container">
	<div ng-model="content" class="contract">
        <p>This Contract is made in  {{place}}, dated {{date | date:'yyyy-MM-dd'}}, by and between {{client}} {{clientCompany}} (the "Client") and {{freelancer}} {{freelanceCompany}} (the "Freelancer").</p>
		<p>The Freelancer and the Client shall hereinafter be collectively referred as “Parties”, and individually as “Party”.</p>
		
		<ol>
			<li>
				<p><b>SCOPE OF WORK AND PAYMENT</b></p>
					
				<ol>
					<li><p>Project. The Client is hiring the Freelancer to do the following: {{description}}.</p></li>
					<li><p>Payment. The Client will pay the Freelancer flat fee/pro-rated charge of select currency. Of this, the Client will pay the Freelancer {{currency}} {{flatFee}} before the beginning of the project (“Advance Payment”) The Client will pay the remaining amount of {{currency}} {{flatFee - advancePayment}} post approving the final work product.</p></li>
					<li><p>Expenses. <select ng-model="expense" ng-init="expense = expenses[0]" ng-options="option.option for option in expenses"></select>.</p></li>
					<li><p>Invoices. The Freelancer will submit the invoice to the Client, post which the Client will disburse the payment to be received by the Freelancer within select {{duration}} days.</p></li>
				</ol>

			</li>

			<li>
				<p><b>OWNERSHIP AND LICENSES.</b></p>
			
				<ol>
					<li>
						<p>Client Owns All Work Product. The finished product, as well as drafts, notes, materials, scripts and anything else that the Freelancer works on (“work product”), is <span><select ng-model="ownership" ng-init="ownership = owner[0]" ng-options="type.option for type in owner"></select></span> once he pays for it in full. This includes all rights, titles, and interests in and to the work product (including intellectual property rights), is of the Client once the Client pays for it in full.</p>
					</li>
					<li>
						<p>Freelancer’s Use Of Work Product. The Client gives the Freelancer permission to use the work product as part of the Freelancer’s portfolio and websites, in galleries, and in other media, so long as it is not to sell or otherwise use the work product to make money or for any other commercial use.</p>
					</li>
				</ol>
			</li>

			<li>
				<p><b>REPRESENTATIONS.</b></p>

				<ol>
					<li>
						<p>Authority To Sign. Each party promises to the other party that it has the authority to enter into this Contract and to perform all of its obligations under this Contract.</p>
					</li>
					<li>
						<p>Client Will Review Work. The Client promises to be reasonably available to the Freelancer if the Freelancer has questions regarding this project, and to provide timely feedback and decisions.</p>
					</li>
				</ol>
			</li>

			<li>
				<p><b>TERM. This Contract ends with the receiving of the final payment by the Freelancer from the Client.</b></p>
			</li>

			<li>
				<p>
					<b>TERMINATION <span><select ng-model="termination" ng-init="termination = terminator[0]" ng-options="option.option for option in terminator"></select></span> may end this Contract for any reason by sending an email or letter to the other party, informing the recipient that the sender is ending the Contract and that the Contract will end in <input type="Number" ng-init="terminationDays=7" ng-model="terminationDays">.</b>
				</p>
			</li>

			<li>
				<p><b>INDEPENDENT CONTRACTOR. The Client is hiring the Freelancer as an independent contractor. The Client and the Freelancer do not have a partnership or employer-employee relationship.</b></p>
			</li>

			<li>
				<p><b>CONFIDENTIAL INFORMATION. While working for the Client, the Freelancer may come across, or be given, Client information that is confidential. The Freelancer promises that it will not share confidential information with a third party, unless the Client gives the Freelancer written permission first. This subsists even after the Contract ends.</b></p>
			</li>

			<li>
				<p><b>INDEMNITY.</b></p>

				<ol>
					<li>
						<p>Client Indemnity. In this Contract, the Freelancer <span><select ng-model="agreement" ng-init="agreement = choice[0]" ng-options="choice.option for choice in choice"></select></span> the Client (and its affiliates) from and against all liabilities, losses, damages, and expenses related to a third-party claim or proceeding arising out of the work the Freelancer has done under this Contract.</p>
					</li>
					<li>
						<p>Freelancer Indemnity. In this Contract, the Client <span><select ng-model="agreement2" ng-init="agreement2 = choice[0]" ng-options="choice.option for choice in choice"></select></span> the Freelancer (and its affiliates) from and against liabilities, losses, damages, and expenses related to a third-party claim or proceeding arising out of a breach by the Client of its obligations under this Contract.</p>
					</li>
				</ol>
			</li>

			<li>
				<p><b>GENERAL.</b></p>

				<ol>
					<li>
						<p>Assignment. This Contract applies only to the Client and the Freelancer.</p>
					</li>
					<li>
						<p>Arbitration. As the first step to resolve any dispute arising under this Contract, a party may demand that the dispute be resolved by arbitration administered by the Arbitration and Conciliation Act, 1996.</p>
					</li>
					<li>
						<p>Modification, Waiver. To change, waive anything in this Contract, the Client and the Freelancer must agree to that change in writing and sign a document showing their contract.</p>
					</li>
					<li>
						<p>Notices. A valid notice over the course of this contract must be in writing and delivered by email, delivered to the party’s address listed at the end of this Contract or to another address provided in writing to receive notice.</p>
					</li>
					<li>
						<p>Governing Law. The laws of India govern the rights and obligations of the Client and the Freelancer under this Contract.</p>
					</li>
					<li>
						<p>Entire Contract. This Contract represents the parties’ final and complete understanding of this job and the subject matter discussed in this Contract. This Contract supersedes all other contracts (both written and oral) between the parties. <br><br>
						THE PARTIES HERETO AGREE TO THE FOREGOING AS EVIDENCED BY THEIR SIGNATURES BELOW.</p>
					</li>
				</ol>
			</li>
		</ol>
	</div>
	<button type="submit" ng-click="save()">Save &amp; View</button>
</div>
    
>>>>>>> 14e33a4338d9e0e998823a8fe559650017ad125f
