<<<<<<< HEAD
<header class="header">
    <img src="../img/logo.png" alt="" class="logo middle-y" ng-click="goHome()">
    <span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
    <span ng-click="dashboard()" class="middle-y"><p class="btn">Contract</p></span>
    <span ng-click="dropdownMenu()" class="middle-y fa fa-bars"></span>

    <div class="dropdownMenu">
        <ul>
            <li ng-click="profile()"><p>Profile</p></li>
            <li ng-click="logout()"><p>Logout</p></li>
        </ul>
    </div>

</header>

<div>
    <h3>
        Hello! <br>
        You are <select ng-model="userType" ng-options="type.option for type in usertype" ng-change = "userChange()"></select>

    </h3>

</div>

<div class="container">

    <form class="form-contract" method="POST" ng-submit="save()" name="contractForm">
        
<!--         /////////////////////////////////////////Client Contract ////////////////////////////////////////////// -->
        
        <span ng-model="hiringCreative" ng-show="userType.option == 'Hiring a creative'">

        Your name is 
            <input type="text" name="name" ng-model="client" placeholder="Your Name" required><br> 

        You work 
            <select ng-model="clientOwnership" ng-init="clientOwnership = offererType[0]" ng-options="type.option for type in offererType" ng-change="clientCompanyChange()"></select> 
        
        <span ng-show="clientOwnership.option != 'Independently'"> 
            who's name is  
                <input type="text" ng-model="clientCompany" placeholder="Company's Name : " ng-init="clientCompany = 'Null'" required ><br> 
        </span>.
        <br>
        You are hiring  
            <select ng-model="freelanceOwnership" ng-init="freelanceOwnership = acceptorType[0]" ng-options="type.option for type in acceptorType" ng-change="freelanceCompanyChange()"></select>called 
            <input type="text" name="acceptorName" ng-show="freelanceOwnership.option == 'an Individual'" ng-model="freelancer" placeholder="Freelancer's Name" required>. <br>
            <input type="text" name="acceptor company" ng-show="freelanceOwnership.option == 'a Company'" ng-model="freelanceCompany" ng-init="freelanceCompany='Null'" placeholder="Freelancer's Company" required>. <br>

        You are undertaking this transaction for the service <input type="text" name="worksub" ng-model="workSubject" placeholder="Nature of service, eg Logo Designs" required>.<br>
        Your work includes:<br>
        
        <input name="description" type="text" ng-model="description" placeholder="Description of the Work" required><br>

        You will be paying 
            <select ng-model="feeType" ng-init="feeType = feetype[0]" ng-options="type.option for type in feetype" ng-change="feeChange()"></select> 
            
        of / Totalling 
            
            <select ng-model="currency" ng-init="currency = currtype[9]" ng-options="type.option for type in currtype"></select>
                <input name="fee" type="number" ng-model="fee" placeholder="Fee" required>
            <span ng-show="feeType.option === 'a Pro-Rated Charge'">
                /<select ng-model="proratedType" ng-init="proratedType = proratedtype[1]" ng-options="type.option for type in proratedtype"></select>
            </span>
            
            <span ng-show="feeType.option == 'a Flat Fee'">
                , out of which <input name="flat fee" type="number" ng-model="advancePayment" placeholder="Advance Payment" required>% is to be paid as advance
            </span>

            <span ng-show="feeType.option == 'in Milestones'"> 
                Your milestones for receiving an invoice are:
                    <span ng-repeat="point in milestone.point track by $index"> <br>
                    <b>Milestone #{{$index}} :</b> 
                        <input name="milestonFee" type="number" ng-model='milestone.fee[$index]' placeholder ="Percentage amount of fee to be Paid" ng-init ="milestoneFee = 0" required> % on
                        <input name="milestone point" type="text" ng-model='milestone.point[$index]' placeholder="the submission of first draft" ng-init = "milestonePoint = 'Null'" required>

                    </span>
                    <input type="button" ng-click = "addMilestone()" value="Add milestone">
            </span>.
        <br><br>


        You 
            <select ng-model="iterationOption" ng-options = "option.option for option in iterationoption" ng-init = "iterationOption = iterationoption[0] " ng-change = "iterationsChange()"></select> 
        having 
            <input type="number" name="iterations" ng-model="iterations" placeholder="Number Of Iterations" ng-show= "iterationOption.option == 'will be'" required> 
        iterations 
            <span ng-show="iterationOption.option == 'will be'"> 
                at {{currency.option}} 
                    <input name="iteration Fee" type="number" ng-model="iterationFee" placeholder="Fee charged per extra Iteration" required> per iteration 
            </span>.<br>

        You will complete the payment in         
            <input name="payment days" type = "number" ng-model="paymentDays" placeholder="Maximum number of days to make the payment" required> 
        
        days from the receipt of invoice, with a late payment charge of 
            <input name="latePayment" type="number" ng-model="latePayment" placeholder="Late Payment" required > % per week.<br>
        </span>

<!--         //////////////////////////////////// End of Client contract /////////////////////////  --> 




                    <!--   Is a creative   -->      
        
        <span ng-model="creative" ng-show="userType.option == 'Creative'">

            Your name is 
                <input name="creativeFreelancer" type="text" ng-model="freelancer" placeholder="Freelancer's Name" required><br> 

            You work 
                <select ng-model="freelanceOwnership" ng-init="freelanceOwnership = offererType[0]" ng-options="type.option for type in offererType" ng-change="freelanceCompanyChange()"></select> 
            
            <span ng-show="freelanceOwnership.option != 'Independently'"> 
                who's name is  
                    <input name="creativeFreelancerCompany" name="freelanceCompany" type="text" ng-model="freelanceCompany" placeholder="Company's Name : " ng-init="freelanceCompany = 'Null'" required ><br> 
            </span>.
            <br>
            Your client is 
                <select ng-model="clientOwnership" ng-init="clientOwnership = acceptorType[0]" ng-options="type.option for type in acceptorType" ng-change="clientCompanyChange()"></select>called 
                <input name="creativeClient" type="text" ng-show="clientOwnership.option == 'an Individual'" ng-model="client" placeholder="Client's Name" required>. <br>
                <input name="creativeClient Company" type="text" ng-show="clientOwnership.option != 'an Individual'" ng-model="clientCompany" ng-init="clientCompany='Null'" placeholder="Client's Company" required>. <br>

            You are undertaking this transaction for the service <input type="text" ng-model="workSubject" placeholder="Nature of service, eg Logo Designs" required>.<br>
            Your work includes:<br>
            
            <input name="Creative Description" type="text" ng-model="description" placeholder="Description of the Work" required><br>

            You will be paid 
                <select ng-model="feeType" ng-init="feeType = feetype[0]" ng-options="type.option for type in feetype" ng-change="feeChange()"></select> 
                
            of / Totalling 
                
                <select ng-model="currency" ng-init="currency = currtype[9]" ng-options="type.option for type in currtype"></select>
                    <input name="creative fee" type="number" ng-model="fee" placeholder="Fee" required>
                <span ng-show="feeType.option === 'a Pro-Rated Charge'">
                    /<select ng-model="proratedType" ng-init="proratedType = proratedtype[1]" ng-options="type.option for type in proratedtype"></select>
                </span>
                
                <span ng-show="feeType.option == 'a Flat Fee'">
                    , out of which <input name="advance Creative" type="number" ng-model="advancePayment" placeholder="Advance Payment" required>% is to be paid as advance
                </span>

                <span ng-show="feeType.option == 'in Milestones'"> 
                    Your milestones for raising an invoice are:
                        <span ng-repeat="point in milestone.point track by $index"> <br>
                        Milestone {{$index}} : 
                            <input type="number" name="milestone fee" ng-model='milestone.fee[$index]' placeholder ="Percentage amount of fee to recieved" ng-init ="milestoneFee = 0" required> % on
                            <input type="text" name="milestone Point" ng-model='milestone.point[$index]' placeholder="the submission of first draft" ng-init = "milestonePoint = 'Null'" required>

                        </span>
                        <input type="button" ng-click = "addMilestone()" value="Add milestone">
                </span>.
            <br><br>


            You 
                <select ng-model="iterationOption" ng-options = "option.option for option in iterationoption" ng-init = "iterationOption = iterationoption[0] " ng-change = "iterationsChange()"></select> 
            having 
                <input name = "creative iterations " type="number" ng-model="iterations" placeholder="Number Of Iterations" ng-show= "iterationOption.option == 'will be'" required> 

            iterations 
                <span ng-show="iterationOption.option == 'will be'"> 
                    at {{currency.option}} 
                        <input name="creative iteration fee" type="number" ng-model="iterationFee" placeholder="Fee charged per extra Iteration" required> per iteration 
                </span>.<br>


            You will raise an invoice 
                <input name="creative invoice days" type="number" ng-model="invoiceDays" required> 
            
            days after the completion of project, which includes/does not include a service tax. The client will complete the payment within 
                <input name="creative payment days"  type = "number" ng-model="paymentDays" placeholder="Maximum days to make the payment" required> 
            
            days of the receipt, with a late payment charge of 
                <input name="Creative latePayment" type="number" ng-model="latePayment" placeholder="Late Payment" required > % per week.<br>
        </span>

<!--         //////////////////////////////////// End of Creative contract /////////////////////////  --> 
        <br>
        <span ng-show = "userType != undefined">

            The project will begin on <input name="startDate" type="date" ng-model="startDate" required></input> and end on <input name="endDate" type="date" ng-model="endDate" required></input>.<br>

            In case of termination, you will 
                <span ng-show="userType.option == 'Creative'">be paid </span>
                <span ng-show="userType.option != 'Creative'">pay </span> 
                <select ng-model="terminationFee" ng-options = "option.option for option in terminationOption" ng-init = "terminationFee = terminationOption[0]"></select> 

            <br>
            Your current location is <input name="location" type="text" ng-model="place" placeholder="Eg. Jodhpur, Rajasthan" required >.<br>

            <input type="submit" value="save">
        </span>
    </form>

=======
<header class="header">
    <img src="../img/logo.png" alt="" class="logo middle-y" ng-click="goHome()">
    <span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
    <span ng-click="dashboard()" class="middle-y"><p class="btn">Contract</p></span>
    <span ng-click="dropdownMenu()" class="middle-y fa fa-bars"></span>

    <div class="dropdownMenu">
        <ul>
            <li ng-click="profile()"><p>Profile</p></li>
            <li ng-click="logout()"><p>Logout</p></li>
        </ul>
    </div>

</header>

<div class="container">

    <form class="form-contract" method="POST" ng-submit="save()" name="contractForm">
        <div class="form-group">
            <p>Your name is</p>     
            <input type="text" ng-model="freelancer" placeholder="Freelancer's Name" required>

            <p>You are</p>
            <select ng-model="freelanceOwnership" ng-init="freelanceOwnership = ownership[0]" ng-options="type.option for type in ownership" ng-change="freelanceCompanyChange()">
            </select>
            <span ng-show="freelanceOwnership.option != 'an Individual'"> <p>named</p>  <input type="text" ng-model="freelanceCompany" placeholder="Company's Name : " ng-init="freelanceCompany = 'Null'" required ></span><p>.</p>
        </div>
        
        <div class="form-group">
            <p>Your client is</p>
            <input type="text" ng-model="client" placeholder="Your Name" required>
            <p>,</p>  
            <select ng-model="clientOwnership" ng-init="clientOwnership = ownership[0]" ng-options="type.option for type in ownership" ng-change="clientCompanyChange()"></select> 
            <span ng-show="clientOwnership.option != 'an Individual'"> 
                <p>named</p> 
                <input type="text" ng-model="clientCompany" placeholder="Company's Name" ng-init="clientCompany = 'Null'" required>
            </span><p>.</p>
        </div>

        <div class="form-group">
            <p>This transaction is for providing</p>
            <input type="text" ng-model="workSubject" placeholder="Nature of service, eg Logo Designs" required>
            <p>.</p>
        </div>     
            
        <div class="form-group">
            <p>Description of work:</p>
        </div>
        <div class="form-group">
            <textarea ng-model="description" placeholder="Description of the Work" required></textarea>
        </div>
        
        <div class="form-group">
            <p>The total</p>
            <select ng-model="feeType" ng-init="feeType = feetype[0]" ng-options="type.option for type in feetype" ng-change="feeChange()"></select> 
            <p>charge for the transaction is</p>
            <select ng-model="currency" ng-init="currency = currtype[9]" ng-options="type.option for type in currtype"></select>
            <input type="number" ng-show="feeType.option=='Flat Fee'" ng-model="flatFee" placeholder="Flat Fee" required>
            <input type="number" ng-show="feeType.option=='Pro-Rated Charge'" ng-model="proratedFee" placeholder="Pro-Rated Rate" ng-init='proratedFee=0' required>
            <p ng-show="feeType.option=='Pro-Rated Charge'">/</p>
            <select ng-model="proratedType" ng-show="feeType.option=='Pro-Rated Charge'" ng-init="proratedType = proratedtype[1]" ng-options="type.option for type in proratedtype"></select>
            
            <span ng-show="feeType.option == 'Flat Fee'">
                <p>, out of which</p>
                <select ng-model="currency" ng-init="currency = currtype[9]" ng-options="type.option for type in currtype"></select>
                <input type="number" ng-model="advancePayment" placeholder="Advance Payment" required>
                <p>has been paid as advance</p>
            </span>
            <p>.</p>
        </div>            
        
        <div class="form-group">
            <p>You will have</p>    
            <input type="number" ng-model="iterations" placeholder="Number Of Iterations" required>
            <p>number of iterations, at</p>
            <select ng-model="currency" ng-init="currency = currtype[9]" ng-options="type.option for type in currtype"></select>
            <input type="number" ng-model="iterationFee" placeholder="Fee charged per extra Iteration" required> 
            <p>per iteration</p>
        </div>
         
        <div class="form-group">
            <p>The project will begin on</p>
            <input type="date" ng-model="startDate" required></input>
            <p>and end on</p>
            <input type="date" ng-model="endDate" required></input>
            <p>.</p>    
        </div>

        <div class="form-group">
            <p>Your location is</p>
            <input type="text" ng-model="place" placeholder="Eg. Jodhpur, Rajasthan" required >
            <p>.</p>    
        </div>

        <div class="form-group">
            <p>The client will pay</p>
            <input type="number" ng-model="latePayment" placeholder="Late Payment" required >
            <p>% as late fee per month</p>
        </div>
        <div class="form-group">
            <input type="submit" value="save">
        </div>
    </form>

>>>>>>> 14e33a4338d9e0e998823a8fe559650017ad125f
</div>