<<<<<<< HEAD
<header class="landing-header">
	<img src="../img/logo.png" alt="" class="logo middle-y" ng-click="goHome()">
	<span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
	<span ng-click="sendSignup()" class="middle-y"><p class="btn">Signup</p></span>
	<span ng-click="togglePopup()" class="middle-y"><p class="btn">Login</p></span>
</header>

<div class="container landing-container blurred">
	
	<div class="nav-landing">
		<ul>
			<li><a href=""><h4>TRANXACT</h4><p>coming soon</p></a></li>
		</ul>

		<ul>
			<li><h4><a href="">FORUM</a></h4></li>
			<li><h4><a href="">KNOWLEDGE CENTER</a></h4></li>
			<li><h4><a href="">BLOG</a></h4></li>
		</ul>
	</div>

	<div class="title-landing-about middle">
		<h3>Our vision is to facilitate secure transaction &<br>
		powerful engangement between creative & businesses. <br>
		We manage the entire work flow for creative professionals, <br>
		and provide a space to engage with the community, <br>
		ensuring that the focus is only on creating their next masterpiece.</h3>
	</div>

	<div class="btn btn-landing-about middle"><h2>Get Started</h2></div>

	<div class="nav-landing-footer">
		<ul>
			<li><p><a href="">ABOUT</a></p><p>&copy; Indian Creative Forum 2016</p></li>
		</ul>

		<ul>
			<li><p><a href="">PRIVACY POLICY</a></p></li>
			<li><p><a href="">TERMS & CONDITIONS</a></p></li>
			<li><p><a href="">CONTACT US</a></p></li>
		</ul>
		<ul>
			<li><i class="fa fa-facebook-square"></i><i class="fa fa-twitter-square"></i><i class="fa fa-linkedin-square"></i></li>
		</ul>
	</div>
		
</div>


<div class="login-popup blurred" ng-show="hidden">
	<form method="POST" ng-submit="login()" class="form form-login middle">
		<input type="text" ng-model="username" placeholder="username"><br>
		<input type="password" ng-model="password" placeholder="password"><br>
		<input type="submit" value="login">
	</form>
=======
<header class="landing-header">
	<img src="../img/logo.png" alt="" class="logo middle-y" ng-click="goHome()">
	<span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
	<span ng-click="togglePopup2()" class="middle-y"><p class="btn btn-header">Sign Up</p></span>
	<span ng-click="togglePopup()" class="middle-y"><p class="btn btn-header">Log In</p></span>
</header>

<div class="container landing-container	">
	
	<div class="nav-landing">
		<ul>
			<li><a href=""><h4>TRANXACT</h4><p>coming soon</p></a></li>
		</ul>

		<ul>
			<li><h4><a href="">FORUM</a></h4></li>
			<li><h4><a href="">KNOWLEDGE CENTER</a></h4></li>
			<li><h4><a href="">BLOG</a></h4></li>
		</ul>
	</div>

	<div class="title-landing-about middle">
		<h3>Our vision is to facilitate secure transaction &<br>
		powerful engangement between creative & businesses. <br>
		We manage the entire work flow for creative professionals, <br>
		and provide a space to engage with the community, <br>
		ensuring that the focus is only on creating their next masterpiece.</h3>
	</div>

	<div class="btn btn-landing-about middle" ng-click="togglePopup()"><h3>Get Started</h3></div>

	<div class="nav-landing-footer">
		<ul>
			<li><p><a href="">ABOUT</a></p><p>&copy; Indian Creative Forum 2016</p></li>
		</ul>

		<ul>
			<li><p><a href="">PRIVACY POLICY</a></p></li>
			<li><p><a href="">TERMS & CONDITIONS</a></p></li>
			<li><p><a href="">CONTACT US</a></p></li>
		</ul>
		<ul>
			<li><i class="fa fa-facebook-square"></i><i class="fa fa-twitter-square"></i><i class="fa fa-linkedin-square"></i></li>
		</ul>
	</div>
		
</div>


<div class="login-popup middle" ng-show="hidden">
	<i class="fa fa-times-circle" aria-hidden="true" ng-click="togglePopup()"></i>
	<form method="POST" ng-submit="login()" class="form form-login">
		<input type="text" ng-model="username" placeholder="username"><br>
		<input type="password" ng-model="password" placeholder="password"><br>
		<input type="submit" value="login">
	</form>
</div>


<div class="signup-popup middle" ng-show="hidden2">
	<i class="fa fa-times-circle" aria-hidden="true" ng-click="togglePopup2()"></i>
	<form method="POST" ng-submit="signup()" class="form form-signup">
		<input type="text" ng-model="fname" placeholder="first name"> <br>
		<input type="text" ng-model="lname" placeholder="last name"> <br>
		<input type="text" ng-model="username" placeholder="username"> <br>
		<input type="text" ng-model="email" placeholder="email"> <br>
		<input type="password" ng-model="password" placeholder="password"> <br>
		<input type="submit" value="signup">
	</form>
>>>>>>> 14e33a4338d9e0e998823a8fe559650017ad125f
</div>