<header class="header">
	<img src="../img/logo.png" alt="" class="logo middle-y" ng-click="goHome()">
	<span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
	<span ng-click="dashboard()" class="middle-y"><p class="btn">Contract</p></span>
	<span ng-click="dropdownMenu()" class="middle-y fa fa-bars"></span>

	<div class="dropdownMenu">
		<ul>
			<li ng-click="profile()"><p>Profile</p></li>
			<li ng-click="logout()"><p>Logout</p></li>
		</ul>
	</div>

</header>

<div class="container">
	<!-- <img src={{imgurl}} height="100px" width="100px" /><br> -->
	<!-- <button ng-click="changedp()">Change Profile Pic</button><br> -->
	
	<div class="btn-create-contract">
		<button ng-click="sendContractCategory()">Create Contract</button>
	</div>


	<div class="page-title">
		<h4>History</h4>
	</div>
	<table class="table-dashboard">
		<tr>
			<th><p>Client Name</p></th>
			<th><p>Contract Date</p></th>
			<th><p>End Date</p></th>
		</tr>
		<tr ng-repeat="x in contracts">
			<td><a href="#" ng-click="gotoContract(x._id)"><p>{{x.client}}</p></td>
			<td><p>{{x.contractDate}}</p></td>
			<td><p>{{x.endDate}}</p></td>
		</tr>
	</table>
	
</div>