<form method="POST" ng-submit="saveForm()">
	<input type="text" ng-model="fname" placeholder="first name"> <br>
	<input type="text" ng-model="lname" placeholder="last name"> <br>
	<input type="text" ng-model="username" placeholder="username"> <br>
	<input type="text" ng-model="email" placeholder="email"> <br>
	<input type="password" ng-model="password" placeholder="password"> <br>
	<input type="submit" value="signup">
</form>