<header class="header">
	<img src="../img/logo.png" alt="" class="logo middle-y" ng-click="goHome()">
	<span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
	<span ng-click="dropdownMenu()" class="middle-y"><p class="btn">Logout</p></span>
	<span ng-click="contractPage()" class="middle-y"><p class="btn">Contract</p></span>
	<span ng-click="dropdownMenu()" class="middle-y fa fa-bars"></span>

	<div class="dropdownMenu">
		<ul>
			<li ng-click="profile()"><p>Profile</p></li>
			<li ng-click="logout()"><p>Logout</p></li>
		</ul>
	</div>

</header>