<div id="content">
{{logo}}
<h2>Invoice</h2>
<hr>
<p>
	From:<br>
	{{freelancer}}<br>
	{{freelanceTitle}} <br>
	{{freelanceCompany}} <br>
	Issued On: {{issueDate | date:'short'}}<br>
	To:<br>
	{{client}}<br>
	{{clientCompany}}<br>
	Due On: {{dueDate | date:'short'}}
	<hr>
	<table>
		<tr>
			<th>Item Name</th>
			<th>Number Of Iterations</th>
			<th>Extra Iteration Fee</th>
			<th>Total</th>
		</tr>
		<tr>
			<td> {{workSubject}} </td>
			<td><input type="number" ng-model="units" ng-init='units=1' min = "1" ng-change="calculate()"></td>
			<td>{{iterationFee}}</td>
			<td>{{lineTotal}}</td>
		</tr>
	</table><br>
	<h4>Subtotal: <span>{{subtotal}}</span></h4><br>
	<hr>
	<h4>Amount Paid: {{advancePayment}}</h4><br>
	<h3>Total: <span> {{total}} </span>( {{currency}} )</h3>
	<hr>
	<br>
	<br>
	Payment:<br>
	Contact {{freelanceEmail}} for further details on how to pay.<br>
	<br>
	Late fee:<br>
	If this invoice is unpaid by {{dueDate | date:'short'}}, a non-compounding late fee of {{lateFee}} accrues monthly on the outstanding amount.
	<hr>
	Notes:
	<textarea ng-model="notes" ng-init="notes='Thank you for your business!'"></textarea>
	<br><br>
	CONTRACT:
	{{freelancer}} ( {{issueDate | date:'short'}} )

</p>
</div>
<input type="button" ng-click="savePdf()" value="Save As PDF">
