<form method="POST" ng-submit="login()" class="form form-login middle">
	<input type="text" ng-model="username" placeholder="username"><br>
	<input type="password" ng-model="password" placeholder="password"><br>
	<input type="submit" value="login">
</form>