<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     ng-submit = "uploadFile()"
     method    =  "post"
>
<input type="file" file-model="userPhoto" />
<input type="submit" value="Upload Image" name="submit">
</form>