<header class="header">
	<img src="../img/logo.png" alt="" class="logo middle-y" ng-click="dashboard()">
	<span class="middle-y logo-text"><h4>INDIAN <br>CREATIVE FORUM</h4></span>
	<span ng-click="dashboard()" class="middle-y"><p class="btn">Contract</p></span>
	<span ng-click="dropdownMenu()" class="middle-y fa fa-bars"></span>

	<div class="dropdownMenu">
		<ul>
			<li ng-click="profile()"><p>Profile</p></li>
			<li ng-click="logout()"><p>Logout</p></li>
		</ul>
	</div>

</header>

<div class="container">

	<div class="profilePic">
		<img src = {{imgUrl}} width="100" height="100" />
		<form id        =  "uploadForm"
		     enctype   =  "multipart/form-data"
		     ng-submit = "uploadFile()"
		     method    =  "post"
		>	
			<input type="file" file-model="userPhoto" change-func = "uploadFile" id="profile-pic"/>
			<label for="profile-pic"><p>Change</p></label>
			<input type="submit" value="Upload Image" name="submit" ng-show = 'false'  />
		</form>
	</div>
	<div class="profile-tabs">
		<h4 ng-click="profileTab1()" class="profile-tab1">My Profile</h4>
		<h4 ng-click="profileTab2()" class="profile-tab2">Settings</h4>
	</div>

	<div class="profile-tab1-view">
		<form class="form-profile" name = "profileForm" id= "uploadForm"
     enctype = "multipart/form-data" method = "POST" ng-submit ="saveProfile()">
		    <input type="text" ng-model="fname" placeholder="first name">
			<input type="text" ng-model="lname" placeholder="last name">
			<input type="email" ng-model="email" placeholder="email">  
			<input type="number" ng-model="age" placeholder="age"> 
		    <input type="date" ng-model="dob" placeholder="date of birth" required>
		    <textarea ng-model="address" placeholder="address" required></textarea>
		    <input ng-model="password" type="password" placeholder="password" ng-change="checkpass()">
			<input ng-model="cpass" type="password" placeholder="confirm password" ng-change="checkpass()">
			<p ng-show="toggle">Passwords do not match</p>
			<input type="submit" ng-disabled="toggle" value="save">
		</form>
	</div>

	<div class="profile-tab2-view">
		<form class="form-profile-settings" method = "POST" ng-submit ="saveSettings()">
		    <input type="text" ng-model="cname" placeholder="Company name" required>
			<input type="text" ng-model="title" placeholder="Your title" required>
			<input type="number" ng-model="pan" placeholder="PAN Number" required>
			<input type="number" ng-model="fee" placeholder="Late fee%" required>
			<input type="submit" value="save">
		</form>	
	</div>
</div>