<form method = "POST" ng-submit ="saveSettings()">
    <input type="text" ng-model="cname" placeholder="Company name" required> <br>
	<input type="text" ng-model="title" placeholder="Your title" required> <br>
	<input type="number" ng-model="pan" placeholder="PAN Number" required> <br>
	<input type="number" ng-model="fee" placeholder="Late fee%" required> 
    <br>
<br>

	<input type="submit" value="save">
</form>